/* -------------- COLOR SCHEME --------------- */
:root {
  --color-primary: #e4002b;
  --color-secondary: #012169;
  /* Add a grey scale Colors */
  --color-mygrey-05: lab(98% 0 0);
  --color-mygrey-10: lab(97% 0 0);
  --color-mygrey-20: lab(91% 0 0);
  --color-mygrey-30: lab(85% 0 0);
  --color-mygrey-40: lab(66% 0 0);
  --color-mygrey-50: lab(48% 0 0);
  --color-mygrey-60: lab(34% 0 0);
  --color-mygrey-70: lab(27% 0 0);
  --color-mygrey-80: lab(15% 0 0);
  --color-mygrey-90: lab(8% 0 0);
  --color-mygrey-95: lab(3% 0 0);
}

/************************** BORDER BOX **************************/
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/************************** BODY **************************/
body {
  font-family: "Jost", sans-serif;
  margin: 0;
  padding: 0;
}

/************************** HEADER **************************/
header {
  padding: 10px 0 10px 10px;
  display: grid;
  grid-template-columns: 25px auto 44px;
  column-gap: 8px;
  align-items: end;
  border-bottom: 1px solid var(--color-mygrey-10);
}

header img {
  display: block;
  width: 100%;
  height: auto;
}

header span {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--color-secondary);
}

/************************** NAVIGATION **************************/
nav {
  display: none;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  color: var(--color-mygrey-50);
  text-decoration: none;
  padding: 0.6rem 10px;
  border-bottom: 1px solid var(--color-mygrey-10);
}

nav a:hover {
  color: var(--color-mygrey-90);
}

nav li.active a {
  text-decoration: underline;
  color: var(--color-primary);
}

nav.show {
  display: block;
}

/************************** HAMBURGER NAVIGATION **************************/
.hamburger {
  background: none;
  border: none;
  color: var(--color-mygrey-80);
  cursor: pointer;
  font-family: Verdana;
  font-size: 2rem;
}

.hamburger::before {
  content: "\2630";
}

.hamburger.show::before {
  content: "\00D7";
}

/************************** MAIN LAYOUT **************************/

h1 {
  margin: 0;
  padding: 10px;
  width: 100%;
  font-size: 2.5rem;
  color: var(--color-primary);
  font-weight: 200;
}

/************************** PARK CARD LAYOUT **************************/
#allparks {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 50px 10px;
  margin: 10px;
}
#allparks > div {
  border: solid 1px var(--color-mygrey-10);
  border-radius: 10px;
  overflow: hidden;
}
#allparks section {
  position: relative;
}
#allparks img {
  width: 100%;
  height: auto;
  display: block;
}
#allparks h2 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  margin: 0;
  padding: 0.5rem 10px;
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
}
#allparks p {
  font-weight: 200;
  color: var(--color-mygrey-70);
  margin: 0.5rem 10px;
  span {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--color-mygrey-40);
  }
}
#allparks a {
  display: block;
  background-color: var(--color-primary);
  margin: 0.5rem 10px;
  padding: 0.8rem 0;
  text-align: center;
  color: white;
  border-radius: 99px;
  &:hover {
    background-color: var(--color-secondary);
  }
}

/************************** SOCIAL MEDIA **************************/
.social {
  display: flex;
  justify-content: center;
  column-gap: 5px;
  margin-bottom: 1rem;
}

.social a {
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: var(--color-mygrey-10);
}

.social img {
  width: 22px;
  height: 22px;
}

.social a:hover {
  background-color: var(--color-mygrey-0);
}

/************************** FOOTER **************************/
footer {
  background-color: var(--color-mygrey-80);
  color: var(--color-mygrey-05);
  text-align: center;
  padding: 1rem 0;
}

footer p {
  margin: 0.25rem;
  font-size: 0.8rem;
  font-weight: 600;
  color: var(--color-mygrey-30);
}
